body{
    color:gray;
    background: darksalmon;
}
.heading{
    width: 80%; 
    font-size: 22px;
}
#camera{
    border:2px dashed whitesmoke;
    width:300px;
    height:300px;
}
.name_of_objects, #result_object_name, #result_object_accuracy{
    color:midnightblue;
}